.header_container_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar-nav {
  display: flex;
  height: 69px;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.search-bar-nav__input {
  flex-grow: 1;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  padding-left: 1.5rem;
  border: 0;
}
.search-bar-nav__input:focus {
  outline: 0;
}
.search-bar-nav i {
  padding-right: 1.5rem;
  cursor: pointer;
}
.search-bar-nav__submit {
  font-size: 1.8rem;
  cursor: pointer;
  background: transparent;
  padding-right: 1rem;
  border: 0;
}

.one-ing {
  height: 69px;
  list-style-type: none;
}
.one-ing__box {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #3282F7;
}
.one-ing i {
  cursor: pointer;
}

.one-ing-list {
  position: absolute;
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: bold;
  width: 41.6rem;
  height: auto;
  border-radius: 5px;
  padding-top: 3px;
  color: #FFFFFF;
  background-color: #3282F7;
}
.one-ing-list__input {
  font-size: 1.1rem;
  padding-left: 1rem;
  width: 41.6rem;
  height: 69px;
  border: transparent;
  background-color: #3282F7;
  color: #FFFFFF;
}
.one-ing-list__input:focus {
  outline: 0;
}
.one-ing-list__InputUpButton {
  display: flex;
  align-items: baseline;
}
.one-ing-list i {
  padding-right: 1.5rem;
  cursor: pointer;
}
.one-ing-list__box {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.one-ing-item {
  width: 13.8rem;
  padding: 0.4rem 1rem;
}

.one-dev {
  height: 69px;
  list-style-type: none;
}
.one-dev__box {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #68D9A4;
}
.one-dev i {
  cursor: pointer;
}

.one-dev-list {
  position: absolute;
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: bold;
  width: 41.6rem;
  height: auto;
  border-radius: 5px;
  padding-top: 3px;
  color: #FFFFFF;
  background-color: #68D9A4;
}
.one-dev-list__input {
  font-size: 1.1rem;
  padding-left: 1rem;
  width: 41.6rem;
  height: 69px;
  border: transparent;
  background-color: #68D9A4;
  color: #FFFFFF;
}
.one-dev-list__input:focus {
  outline: 0;
}
.one-dev-list__InputUpButton {
  display: flex;
  align-items: baseline;
}
.one-dev-list i {
  padding-right: 1.5rem;
  cursor: pointer;
}
.one-dev-list__box {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.one-dev-item {
  width: 13.8rem;
  padding: 0.4rem 1rem;
}

.one-uten {
  height: 69px;
  list-style-type: none;
}
.one-uten__box {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #ED6454;
}
.one-uten i {
  cursor: pointer;
}

.one-uten-list {
  position: absolute;
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: bold;
  width: 41.6rem;
  height: auto;
  border-radius: 5px;
  padding-top: 3px;
  color: #FFFFFF;
  background-color: #ED6454;
}
.one-uten-list__input {
  font-size: 1.1rem;
  padding-left: 1rem;
  width: 41.6rem;
  height: 69px;
  border: transparent;
  background-color: #ED6454;
  color: #FFFFFF;
}
.one-uten-list__input:focus {
  outline: 0;
}
.one-uten-list__InputUpButton {
  display: flex;
  align-items: baseline;
}
.one-uten-list i {
  padding-right: 1.5rem;
  cursor: pointer;
}
.one-uten-list__box {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.one-uten-item {
  width: 13.8rem;
  padding: 0.4rem 1rem;
}

.art-cont img {
  height: 178px;
  width: 380px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.art-cont {
  width: 380px;
  height: 364px;
  border-radius: 5px;
}
.art-cont__box {
  background-color: #E7E7E7;
  height: 11.3rem;
  margin-top: -4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.art-cont__title-clock {
  display: flex;
  font-family: Lato, sans-serif;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.art-cont i {
  padding-top: 3px;
}
.art-cont__clock-time {
  display: flex;
  padding-right: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.art-cont .art-cont__serv {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  padding-top: 1rem;
}
.art-cont .art-cont__serv--ing {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}
.art-cont .art-cont__serv--desc {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 3rem;
}

.section-one-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  visibility: hidden;
}

#section-second-container {
  display: flex;
  position: relative;
}/*# sourceMappingURL=main.css.map */