// reset the state of the parameters to any suggesting values
$primaryColor: #E7E7E7;
$secondaryColor: #C7BEBE;
$tertiaryColor: #3282F7;
$quaternaryColor: #68D9A4;
$quinaryColor: #ED6454;

// text color
$primaryTextColor: #000000;
$secondaryTextColor: #FFFFFF;