// import contents from 
@import './reset';
@import './config';
@import './menu';
@import './variables';

// 
* { margin: 0; padding: 0; box-sizing: border-box;}

// body container
body {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 3rem;
}

// main section search bar items container
.section-one-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    column-gap: 1.2rem;
    visibility: hidden;
}

// section-second-container
#section-second-container {
    display: flex;
    position: relative;
}